@mixin box_sizing($prop) {
  -moz-box-sizing: $prop;
  -webkit-box-sizing: $prop;
  box-sizing: $prop;
}

@mixin box_shadow($x, $y, $blur, $radius, $color) {
  -webkit-box-shadow: $x $y $blur $radius $color;
  -moz-box-shadow: $x $y $blur $radius $color;
  box-shadow: $x $y $blur $radius $color;
}

