$backgroundColor: #808080;
$mainFontColor: #f2f3f4;
$navigationBackgroundColor: #563d3d;
$headerBackgroundColor: #516644;
$contentArticleBackgroundColor: #682828;
$asideArticleWrapperBackgroundColor: #ef5b5b;
$footerBackgroundColor: #76589d;
$asideArticleBackgroundColor: #f97f7f;
$hoverAsideArticleBackgroundColor: #f33c3c;
$afterClickAsideArticleBackgroundColor: #874545;
$dropdownButtonBackgroundColor: #3a4eca;
$linkInFocusBackgroundColor: #94cfff;
$dropBtnInFocusBackgroundColor: #5876c9;